<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>handle Let's look at schools</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
<div id="map"></div>
<script>
    var mapMarkers = ['green', 'yellow', 'blue', 'ltblue', 'orange', 'pink', 'purple', 'red']

    var map

    function initMap () {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 52.479954, lng: -1.9012899 },
            zoom: 13
        })
    }

    fetch('/data')
            .then((response) => {
                return response.json()
            })
            .then((clusters) => {
                let infoWindow = new google.maps.InfoWindow()
                clusters.forEach((cluster) => {
                    let icon = `http://maps.google.com/mapfiles/ms/icons/${mapMarkers[Math.floor(Math.random() * mapMarkers.length)]}-dot.png`
                    cluster.forEach((point) => {
                        let latlng = new google.maps.LatLng({ lat: point.y, lng: point.x })
                        let marker = new google.maps.Marker({
                            position: latlng,
                            map,
                            icon: icon
                        })
                        marker.addListener('click', () => {
                            infoWindow.close()
                            infoWindow.setContent(`<a href="//${point.schoolData.website}" target="_blank">${point.schoolData.name}</a>`)
                            infoWindow.open(map, marker)
                        })
                    })
                })
            })

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleMapsApiKey}}&callback=initMap"
async defer></script>
<
/body>
< /html>